/* ## Box Sizing
--------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ## Float Clearing
--------------------------------------------- */
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

/* Typographical Elements
--------------------------------------------- */
body {
  background-color: #fbf8f6;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.625;
  color: #181516;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

a {
  color: #181516;
}

a:hover {
  color: #f45353;
}

p {
  margin: 0 0 1.5em;
}
ul {
  margin: 0 0 1.5em 1.5em;
}

#app {
  position: relative;
  padding: 15px;
  width: 320px;
  min-height: 539px;
}

h1,
h2 {
  line-height: 1.33;
  font-weight: 700;
  color: #f45353;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4aa748;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4aa748;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.select-css {
  display: block;
  font-size: 14px;
  color: #fff;
  line-height: 1.3;
  padding: 0.6em 1.7em 0.5em 0.8em;
  box-sizing: border-box;
  margin: 0;
  border: none;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #181516;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 0.65em auto;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:focus {
  outline: none;
}
.select-css option {
  font-weight: normal;
}
/* Site Navigation
--------------------------------------------- */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.app-header .logo {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 900;
  color: #f45353;
  text-transform: uppercase;
}
.main-navigation {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  margin: 0;
}
.main-navigation li {
  color: #181516;
  text-decoration: none;
  padding-right: 18px;
  cursor: pointer;
}

/* Game Elements
--------------------------------------------- */
#game {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* Game Board */

#game-board td.ind {
  width: 12px;
}
#game-board .active td.ind {
  background: url(../images/chevron-right-solid.svg) no-repeat;
  background-position: center center;
  background-size: 10px;
}

#game-board .active .input td {
  cursor: pointer;
}

.input .oval {
  width: 35px;
  height: 35px;
  background-color: #eee;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.input .selected .oval {
  background-color: ghostwhite;
}
.score {
  padding-left: 10px;
}
.score .oval {
  width: 15px;
  height: 15px;
  background: #eee;
  border: 1px solid #d8d8d8;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

/* Game control */
.game-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.color-pegs .oval {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px 5px 5px 8px;
  cursor: pointer;
}

.oval.red,
.red .oval {
  background-color: #d0021b;
}
.oval.blue,
.blue .oval {
  background-color: #4ac6e2;
}
.oval.green,
.green .oval {
  background-color: #2ed47d;
}
.oval.orange,
.orange .oval {
  background-color: #f67d25;
}
.oval.yellow,
.yellow .oval {
  background-color: #f6d430;
}
.oval.purple,
.purple .oval {
  background-color: #9013fe;
}
.oval.pink,
.pink .oval {
  background-color: #fac3de;
}
.oval.grey,
.grey .oval {
  background-color: #999;
}
.oval.white {
  background-color: #fff;
  box-shadow: none;
}
.oval.black {
  background-color: #000;
  box-shadow: none;
}

.btn {
  margin: 5px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #181516;
  color: white;
  border-radius: 10px;
  padding: 8px 16px;
  width: auto;
  border: none;
  cursor: pointer;
}
.btn-check span.icon {
  background: url("../images/check-solid.svg") no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-bottom: 10px;
}
.btn-check {
  padding: 20px 6px 8px;
  width: 40px;
  font-size: 8px;
}
.btn-check:focus {
  outline: none;
}

/* Game Over
--------------------------------------------- */

#game_over {
  visibility: hidden;
  opacity: 0;
  background-color: #cad6d2;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
}

/* Game Options/Rules
--------------------------------------------- */
#options,
#rules {
  width: 290px;
  height: 509px;
  padding: 15px;
  background-color: #fbf8f6;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  z-index: 10;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#options.toggled-on,
#rules.toggled-on {
  opacity: 1;
  visibility: visible;
}
.close {
  width: 20px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.close span {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #181516;
}
.close span:first-child {
  transition: 0.5s;
  transform: rotate(-45deg);
  top: 50%;
}
.close span:last-child {
  transition: 0.5s;
  transform: rotate(45deg);
  bottom: 30%;
}

.content {
  margin-top: 20px;
}
.content p,
.content ul li,
.content a {
  font-size: 12px;
  line-height: 1.5;
  color: #999;
}
.content a:hover {
  color: #f45353;
}
.option-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Credit information
--------------------------------------------- */
.creditinfo {
  padding: 5px 15px 0;
  width: 320px;
}
.creditinfo a {
  font-size: 12px;
  text-decoration: none;
}
.creditinfo a:hover {
  color: #fff;
}

@media only screen and (min-width: 400px) {
  .gradient-background {
    background-image: linear-gradient(48deg, #f48d53, #f45353);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  #app {
    background-color: #fbf8f6;
    border-radius: 20px;
    box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
  }
}
