/* ## Box Sizing
--------------------------------------------- */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
} 

/* ## Float Clearing
--------------------------------------------- */
.clearfix:before {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
	content: " ";
	display: table;
}

/* Typographical Elements
--------------------------------------------- */
body {
  background-color: #fffcfb;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.625;
  color: #5b6c94;
}

p {
  margin: 0 0 1.5em;
}
ul {
  margin: 0 0 1.5em 1.5em;
}


.gradient-background {
  background-image: linear-gradient(48deg, #f48d53, #f45353);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

#app {
  margin-top: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  max-width: 320px;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
}

h1 {
  font-size: 30px;
  line-height: 1.33;
  font-weight: 700;
  color: #f8765e;
}

/* Site Navigation
--------------------------------------------- */

.app-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
}
.app-header .logo {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 900;
  color: #f8765e;
  text-transform: uppercase;
  padding-top: 10px;
}
.main-navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  padding-top: 10px;
  margin: 0;
}
.main-navigation li {
  color: #031d5b;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
  cursor: pointer;
}

/* Game Elements
--------------------------------------------- */
#game {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* Game Board */

#game-board td.ind {
  width: 12px;
}
#game-board .active td.ind {
  background: url(../images/chevron-right-solid.svg) no-repeat;
  background-position: center center;
  background-size: 10px;
}

#game-board .active .input td {
  cursor: pointer;
}

.input .oval {
  width: 35px;
  height: 35px;
  background-color: #eee;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.input .selected .oval {
  background-color: ghostwhite;
}
.score {
  padding-left: 10px;
}
.score .oval {
  width: 15px;
  height: 15px;
  background: #eee;
  border: 1px solid #D8D8D8;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

/* Game control */
.game-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.color-pegs .oval {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px 5px 5px 8px;
  cursor: pointer;
}

.oval.red,
.red .oval {
  background-color: #D0021B;
}
.oval.blue,
.blue .oval {
  background-color: #4AC6E2;
}
.oval.green,
.green .oval {
  background-color: #2ED47D;
}
.oval.orange,
.orange .oval {
  background-color: #F5A623;
}
.oval.purple,
.purple .oval {
  background-color: #9013FE;
}
.oval.pink,
.pink .oval {
  background-color: #FAC3DE;
}
.oval.white {
  background-color: #fff;
  box-shadow: none;
}
.oval.black {
  background-color: #000;
  box-shadow: none;
}

.btn  {
  margin: 5px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #031d5b;
  opacity: 0.3;
  color: white;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  padding: 24px 6px 8px;
  width: 40px;
  font-size: 8px;
}
.btn span.icon {
  background: url('../images/check-solid.svg') no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-bottom: 10px;
}
.btn-check {
  opacity: 1;
  cursor: pointer;
}

/* Game Rules
--------------------------------------------- */
#rules {
  display: none;
}
